.button {
    padding: 10px 20px;
    background: #7B3524;
    min-height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px 0px;
    border-radius: 8px;
    font-size: 1.5rem;
    color: #fff;
}

.button:not(.disabled):hover {
    background: #57261a;
}

.nav::after, .nav::before {
    content: '';
    display: block;
    height: 1px;
    width: 15px;
    background: #FFF;
    transform: rotate(45deg);
    transform-origin: 0% 50%;
}

.nav::before {
    transform: rotate(-45deg);
    transform-origin: 0% 50%;
}

.nav:last-child {
    transform: rotate(180deg);
}

.disabled {
    background: #e5e5e5;
}
