.info-list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 15px;
    font-size: 1.5rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    color: #7B3524;
}

.price {
    font-size: 2rem;
    font-weight: 600;
    grid-column: 3 / 4;
    grid-row: 1 / 2
}

.prop-name {
    margin-left: 10px;
    grid-column: 1 / 2;
}

.prop-value {
    grid-column: 2 / 4
}

@media (width <= 425px ) {
    .info-list {
        grid-template-columns: auto 1fr ;
    }

    .price {
        grid-column: 1 / 2;
        grid-row: 5 / 6 ;
    }
}